
OopCs/.vs/OopCs/v16/Server/sqlite3/storage.ide-wal
OopCs/.vs/OopCs/v16/Server/sqlite3/storage.ide-shm
OopCs/.vs/OopCs/v16/Server/sqlite3/storage.ide
OopCs/.vs/OopCs/v16/Server/sqlite3/db.lock
OopCs/.vs/OopCs/v16/.suo
*.pdb
*.exe
*.cache
*.txt
*.pdb
StaticExtensionMethods/obj/Debug/StaticExtensionMethods.csprojAssemblyReference.cache
OopCs/obj/Debug/OopCs.csprojAssemblyReference.cache
OopCs/obj/Debug/OopCs.csproj.FileListAbsolute.txt
GetAndSet/obj/Debug/GetAndSet.pdb
GetAndSet/obj/Debug/GetAndSet.exe
GetAndSet/obj/Debug/GetAndSet.csprojAssemblyReference.cache
GetAndSet/bin/Debug/GetAndSet.pdb
GetAndSet/bin/Debug/GetAndSet.exe
AnonymousAndNullable/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AnonymousAndNullable/obj/Debug/AnonymousAnndNullable.pdb
AnonymousAndNullable/obj/Debug/AnonymousAnndNullable.exe
AnonymousAndNullable/obj/Debug/AnonymousAnndNullable.csproj.FileListAbsolute.txt
AnonymousAndNullable/obj/Debug/AnonymousAndNullable.csprojAssemblyReference.cache
AnonymousAndNullable/obj/Debug/AnonymousAndNullable.csproj.FileListAbsolute.txt
AnonymousAndNullable/bin/Debug/AnonymousAnndNullable.pdb
AnonymousAndNullable/bin/Debug/AnonymousAnndNullable.exe
AnonymousAndNullable/bin/Debug/AnonymousAnndNullable.exe
AnonymousAndNullable/bin/Debug/AnonymousAnndNullable.pdb
AnonymousAndNullable/obj/Debug/AnonymousAndNullable.csproj.FileListAbsolute.txt
AnonymousAndNullable/obj/Debug/AnonymousAndNullable.csprojAssemblyReference.cache
AnonymousAndNullable/obj/Debug/AnonymousAnndNullable.csproj.FileListAbsolute.txt
AnonymousAndNullable/obj/Debug/AnonymousAnndNullable.exe
AnonymousAndNullable/obj/Debug/AnonymousAnndNullable.pdb
AnonymousAndNullable/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GetAndSet/bin/Debug/GetAndSet.exe
GetAndSet/bin/Debug/GetAndSet.pdb
GetAndSet/obj/Debug/GetAndSet.csprojAssemblyReference.cache
GetAndSet/obj/Debug/GetAndSet.exe
GetAndSet/obj/Debug/GetAndSet.pdb
OopCs/obj/Debug/OopCs.csproj.FileListAbsolute.txt
OopCs/obj/Debug/OopCs.csprojAssemblyReference.cache
StaticExtensionMethods/obj/Debug/StaticExtensionMethods.csprojAssemblyReference.cache
*.exe
*.exe
*.pdb
