
OopCs/.vs/OopCs/v16/Server/sqlite3/storage.ide-wal
OopCs/.vs/OopCs/v16/Server/sqlite3/storage.ide-shm
OopCs/.vs/OopCs/v16/Server/sqlite3/storage.ide
OopCs/.vs/OopCs/v16/Server/sqlite3/db.lock
OopCs/.vs/OopCs/v16/.suo
